.especialidad{
    // border: 1px solid black;
    margin-top: 4px;
}
.marco{
    border: 2px solid whitesmoke;
    padding: 12px;
    height: 100%;
    width: 100%;
}
.hora{
    margin-right: 2px;
}
.imagenTamanio{
    height: 50px;
    width: 50px;
}