<div class="row animate__animated animate__bounceInRight">
    <div class="col-md-8 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mx-auto mt-2 text-center">
                        <app-detalle-hc [hc]='this.hc!'></app-detalle-hc>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger btn-block" (click)="volver()">Volver a mis turnos.</button>
            </div>
        </div>
    </div>
</div>