<div class="row animate__animated animate__bounceInRight">
    <div class="col-md-10 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center"><b>Pagina de graficos.</b></h2>
                <div class="row">
                    <div class="col-md-4 mx-auto mt-5 text-center">
                        <button class="btn btn-primary btn-block mt-3" (click)="grafico(1)">Log de ingresos al sistema</button>
                        <button class="btn btn-primary btn-block mt-3">Cantidad de turnos por especialidad</button>
                        <button class="btn btn-primary btn-block mt-3">Cantidad de turnos por día</button>
                        <button class="btn btn-primary btn-block mt-3">Cantidad de turnos solicitado por médico en un
                            lapso de tiempo</button>
                        <button class="btn btn-primary btn-block mt-3">Cantidad de turnos finalizados por médico en un
                            lapso de tiempo</button>
                    </div>
                    <div class="col-md-8 mx-auto mt-5 text-center">
                        <h2>sad</h2>
                        <div>
                            <!-- <canvas id="canvas"  #canvas width="500" height="300">
                                {{chart}}
                            </canvas> -->

                            <!-- <canvas #myCkanvas id="myCanvas" width="400" height="400"></canvas> -->
                            <!-- <canvas #myCanvas>{{ chart }}</canvas> -->
                            
                            <!-- <div *ngIf="chart">-->
                                <!-- <canvas #myCanvas>{{ chart }}</canvas> -->
                            <!-- </div>  -->

                            <!-- <canvas id="chart" [(ngModel)]="aux" width="400" height="400"></canvas> -->

                            <!-- <canvas #myCanvas  width="500" height="300"></canvas> -->

                            
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<h2>PRUEBAAAAAAAAA</h2>

<div>
    <canvas id="myChart" width="400" height="400"></canvas>

</div>
<!-- <script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script> -->