<div class="row animate__animated animate__bounceInRight">
    <div class="col-md-10 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center"><b>Pagina de graficos.</b></h2>
                <div class="row">
                    <div class="col-md-4 mx-auto mt-5 text-center">
                        <button class="btn btn-primary btn-block mt-3" (click)="descargar(1)">Descargar logs de ingresos al sistema &nbsp;&nbsp; <i class="fa fa-download"></i></button>
                        <button class="btn btn-primary btn-block mt-3">Cantidad de turnos por especialidad</button>
                        <button class="btn btn-primary btn-block mt-3">Cantidad de turnos por día</button>
                        <button class="btn btn-primary btn-block mt-3">Cantidad de turnos solicitado por médico en un
                            lapso de tiempo</button>
                        <button class="btn btn-primary btn-block mt-3">Cantidad de turnos finalizados por médico en un
                            lapso de tiempo</button>
                    </div>
                    <div class="col-md-8 mx-auto mt-5 text-center">
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

