<div class="row" *ngIf="usuarioRegistrado != null">
    <div class="col-md-10 mx-auto mt-4" *ngIf="usuarioRegistrado.tipoPerfil == 'Especialista'">
        <div class="card">
            <div class="card-header text-center">
                <div class="row">
                    <h2><b>Listado de pacientes que atendi por lo menos 1 vez</b></h2>
                </div>
                <div class="row form-group mt-4">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Busqueda por especialidad o paciente..."
                            name="filterPasado" [(ngModel)]="filtroPasado">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-warning btn-block" (click)="busqueda()">Buscar</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 text-center">Cantidad Turnos Totales: {{cantidadTurnos}}</div>
                    <div class="col-md-4 text-center">Cantidad Turnos Aceptados: {{cantidadTurnosAceptados}}</div>
                    <div class="col-md-4 text-center">Cantidad Turnos Finalizados: {{cantidadTurnosFinalizados}}</div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mt-4" *ngIf="this.listadoHC.length > 0">
                    <div class="col-md-4 text-center" *ngFor="let hc of listadoHC">
                        <app-detalle-hc [hc]='hc'></app-detalle-hc>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>