<div class="row">
    <div class="col-md-8 mx-auto mt-5">
        <div class="card">
            <div class="card-body FormularioPaciente">
                <h1 class="text-center mb-3"><b>Mis datos</b></h1>
                <div class="row" *ngIf="usuario != null">

                    <div class="col-md-6 mx-auto mt-2 text-center" *ngIf="usuario.tipoPerfil == 'Paciente'">
                        <h4>imagen 1:</h4>
                        <img src="{{usuario.URLfoto1}}" class="tamanio" alt="foto 1 del usuario">
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center" *ngIf="usuario.tipoPerfil == 'Paciente'">
                        <h4>imagen 2:</h4>
                        <img src="{{usuario.URLfoto2}}" class="tamanio" alt="foto 2 del usuario">
                    </div>
                    <div class="col-md-12 mx-auto mt-2 text-center" *ngIf="usuario.tipoPerfil != 'Paciente'">
                        <h4>imagen 1:</h4>
                        <img src="{{usuario.URLfoto1}}" class="tamanio" alt="foto 1 del usuario">
                    </div>


                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Nombre: {{usuario.nombre}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Apellido: {{usuario.apellido}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Edad: {{usuario.edad}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>DNI: {{usuario.dni}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Email: {{usuario.email}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Tipo de usuario: {{usuario.tipoPerfil}}</h4>
                    </div>

                    <!-- <button (click)="actualizacion()">Actualizar especialistas</button> -->

                    <div class="col-md-12 mx-auto mt-2 text-center" *ngIf="usuario.tipoPerfil == 'Especialista'">
                        <hr>
                        <h2><b>Mis horarios de atención al publico</b></h2>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Trabajo este dia ?</th>
                                    <th scope="col">Dias</th>
                                    <th scope="col">Comienzo de jornada</th>
                                    <th scope="col">Fin de jornada</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of usuario.diasDeAtencion ">
                                    <td><input type="checkbox" name="" [(ngModel)]="data.trabaja" [value]="data.trabaja" id=""></td>
                                    <td>{{data.dia}}</td>
                                    <td>
                                        <select class="custom-select" [(ngModel)]="data.inicia" id="profesionalInput">
                                            <option [value]="item" *ngFor="let item of this.listaHorarios">{{item}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select" [(ngModel)]="data.finaliza" id="profesionalInput"> 
                                            <option [value]="item" *ngFor="let item of this.listaHorariossalida">{{item}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary btn-block" (click)="guardar()">Guardar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>