<div class="row animate__animated animate__bounceInRight">
    <div class="col-md-8 mx-auto mt-5">
        <div class="card">
            <div class="card-body FormularioPaciente">
                <h1 class="text-center mb-3"><b>Mis datos</b></h1>
                <div class="row" *ngIf="usuario != null">

                    <div class="col-md-6 mx-auto mt-2 text-center" *ngIf="usuario.tipoPerfil == 'Paciente'">
                        <h4>imagen 1:</h4>
                        <img src="{{usuario.URLfoto1}}" class="tamanio" alt="foto 1 del usuario">
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center" *ngIf="usuario.tipoPerfil == 'Paciente'">
                        <h4>imagen 2:</h4>
                        <img src="{{usuario.URLfoto2}}" class="tamanio" alt="foto 2 del usuario">
                    </div>
                    <div class="col-md-12 mx-auto mt-2 text-center" *ngIf="usuario.tipoPerfil != 'Paciente'">
                        <h4>imagen 1:</h4>
                        <img src="{{usuario.URLfoto1}}" class="tamanio" alt="foto 1 del usuario">
                    </div>


                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Nombre: {{usuario.nombre}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Apellido: {{usuario.apellido}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Edad: {{usuario.edad}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>DNI: {{usuario.dni}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Email: {{usuario.email}}</h4>
                    </div>
                    <div class="col-md-6 mx-auto mt-2 text-center">
                        <h4>Tipo de usuario: {{usuario.tipoPerfil}}</h4>
                    </div>

                    <!-- <button (click)="actualizacion()">Actualizar especialistas</button> -->

                    <div class="col-md-12 mx-auto mt-2 text-center" *ngIf="usuario.tipoPerfil == 'Especialista'">
                        <hr>
                        <h2><b>Mis horarios de atención al publico</b></h2>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Trabajo este dia ?</th>
                                    <th scope="col">Dias</th>
                                    <!-- <th scope="col">Rango prueba</th> -->
                                    <th scope="col">Comienzo de jornada</th>
                                    <th scope="col">Fin de jornada</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of usuario.diasDeAtencion let i=index">
                                    <td><input type="checkbox" name="" [(ngModel)]="data.trabaja" [value]="data.trabaja"
                                            id=""></td>
                                    <td>{{data.dia}}</td>
                                    <td><input type="range" min="8" max="11" [(ngModel)]="data.inicia">
                                        <h6>{{data.inicia | pipeHora}}</h6>
                                    </td>
                                    <td><input type="range" min="14" max="19" *ngIf="data.dia != 'SABADO'"
                                            [(ngModel)]="data.finaliza">
                                        <input type="range" min="12" max="14" *ngIf="data.dia == 'SABADO'"
                                            [(ngModel)]="data.finaliza">
                                        <h6>{{data.finaliza | pipeHora}}</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary btn-block" (click)="guardar()">Guardar</button>

                    </div>


                    <div class="col-md-12 mx-auto mt-2 text-center" *ngIf="usuario.tipoPerfil == 'Paciente'">
                        
                        <app-detalle-hc [hc]='this.hc!'></app-detalle-hc>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>