<hr>
<h2 class="text-center"><b>Historia Clinica</b></h2>
<h4 class="text-center"> {{this.hc!.paciente!.nombre}} {{this.hc!.paciente!.apellido}}</h4>
<hr class="text-center">
 
<h6 class="text-center">peso: {{this.hc!.peso! }} kilos</h6>
<h6 class="text-center">altura: {{this.hc!.altura! }} cm</h6>
<h6 class="text-center">presion: {{this.hc!.presion! }}</h6>
<h6 class="text-center">temperatura: {{this.hc!.temperatura! }} grados</h6>
<h6 class="text-center">{{this.hc!.key1! }}: {{this.hc!.dato1! }} </h6>
<h6 class="text-center">{{this.hc!.key2! }}: {{this.hc!.dato2! }} </h6>
